.links line {
    stroke: #aaa;
}

.nodes circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
}

.svg-container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#node-detail {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 2%;
    width: 20%;
    background-color: white;
}
#container{
    background-color: #eee;
}